*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{

    background-color: rgb(162, 240, 252);
    font-size: 40px;
}

main{
    background-color: rgb(239, 231, 231);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 209, 255);
    color: black;
    gap: 10px;
}

footer li a{
    color: black;
    text-decoration:none;
    list-style: none;
}

footer .organizando{
  display:flex;
  flex-direction: column;
  padding: 20px;
}